@if (item.url) {
  <a class="nav-link" [routerLink]="[item.url]" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: item.exactMatch || false}" matRipple>
    <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
  </a>
}

@if (item.function) {
  <span class="nav-link" (click)="item.function()">
    <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>
  </span>
}

<ng-template #itemTemplate>
  @if (item.icon) {
    <gx-icon name="{{item.icon}}" size="xl" [fw]="true"></gx-icon>
  }
  @if (item.translate) {
    <span class="nav-text" [translate]="item.translate"></span>
  }
  @if (!item.translate) {
    <span class="nav-text">{{item.title}}</span>
  }
</ng-template>
